
Application/.RData

Application/.Rhistory

*.pper

Application/.Rproj.user/7B38A4E4/sdb/prop/942D3647

Application/.Rproj.user/7B38A4E4/sdb/prop/9C291CF8

Application/.Rproj.user/7B38A4E4/sdb/prop/B7DFBC09

Application/.Rproj.user/7B38A4E4/sdb/prop/INDEX
